---
export interface Props {
  imageUrl: string,
  imageAlt: string,
  subheading: string,
  heading: string,
  listItems: ListItem[],
}

export type ListItem = {
  icon: string,
  content: string,
}

const {imageUrl, imageAlt, subheading, heading, listItems} = Astro.props;
---
<section>
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8"
  >
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-first lg:h-full"
      >
        <img
          alt={imageAlt}
          src={imageUrl}
          class="absolute inset-0 h-full w-full object-fit"
        />
      </div>

      <div class="lg:py-1">
        <h4>{subheading}</h4>
        <h2 class="text-3xl font-bold sm:text-4xl">{heading}</h2>
        {listItems.map((listItem) => (
          <p class="mt-4 text-gray-600">
            {listItem.content}
          </p>
        ))}
        <a
          href="mailto:info@eafunding.com.au?subject=Consumer Credit - website enquiry?body=please enter your enquiry here and we will get back to you with more information"
          class="mt-8 inline-block rounded bg-primary px-12 py-3 text-sm font-medium text-white transition hover:bg-primary-400 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          Enquire Now
        </a>
      </div>
    </div>
  </div>
</section>
